<!--<div>{{appState$ | async | json}}</div>-->

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>Manage Servers</h2>
          </div>
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary">Print Report</button>

            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
              <i class="material-icons">&#xE147;</i>
              <span>New Server</span>
            </a>

            <span>
              <select name="status" class="btn btn-info" style="height: 32.91px">
                <option value="ALL">ALL</option>
                <option value="SERVER_UP">SERVER UP</option>
                <option value="SERVER_DOWN">SERVER DOWN</option>
              </select>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
